[submodule "support/font-builder"]
	path = support/font-builder
	url = git://github.com/fontello/font-builder.git
[submodule "src/qzone.font"]
	path = src/qzone.font
	url = git://github.com/isux/qzone.font.git
[submodule "src/solaaoi.font"]
	path = src/solaaoi.font
	url = git@github.com:qianduan/solaaoi.font.git
[submodule "src/tencent.font"]
	path = src/tencent.font
	url = git@github.com:qianduan/tencent.font.git
[submodule "src/social.logo"]
	path = src/social.logo
	url = git@github.com:qianduan/social.logo.git
[submodule "src/qq-hd.font"]
	path = src/qq-hd.font
	url = git@github.com:qianduan/qq-hd.font
[submodule "src/entypo"]
	path = src/entypo
	url = git://github.com/fontello/entypo.git
